<h1>Friends List Page</h1>

<% friends.forEach(function (friend) { %>
    <li><%= friend%></li>
<% }); %>

<form action="/addFriend" method="POST">
    <input type="text"name="newFriend" placehoder="name">
    <button type="submit">add</button>
</form>